@font-face {
    font-family: "Mulish";
    src: local("Mulish"),
     url('~assets/fonts/Mulish-Regular.ttf') format("truetype");
  }

  @font-face {
    font-family: "PTSerif-Regular";
    src: local("PTSerif-Regular"),
     url('~assets/fonts/PTSerif-Regular.ttf') format("truetype");
  }

  a {
    text-decoration: none !important;
    color: inherit !important;
    @apply no-underline;
    -webkit-font-smoothing: antialiased;
  }

  .serif {
    font-family: 'PTSerif-Regular', serif;
    -webkit-font-smoothing: antialiased;
  }

  h1  {
    font-family: 'PTSerif-Regular', serif;
    -webkit-font-smoothing: antialiased;
  }

  h2 {
    font-family: 'PTSerif-Regular', serif;
    -webkit-font-smoothing: antialiased;
  }

  .sans {
    font-family: 'Mulish';
    -webkit-font-smoothing: antialiased;
  }

  p {
    font-family: 'Mulish';
    -webkit-font-smoothing: antialiased;
  }

  span {
    font-family: 'Mulish';
    -webkit-font-smoothing: antialiased;
  }
