@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply shadow; 
    @apply border; 
    @apply border-gray-200;
    @apply rounded-lg;
    @apply p-4;
    @apply bg-milk;
  }

}

body {
  background-color: #fffffa;
}


.centered-axis-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

