@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply shadow; 
    @apply border; 
    @apply border-gray-200;
    @apply rounded-lg;
    @apply p-4;
    @apply bg-milk;
  }

}

.noto-serif {
  font-family: 'Noto', serif;
}

.noto-sans {
  font-family: 'Noto', sans;
}

.fade-in {
  background-color: #2ecc71;
  height: 500px;
  margin-bottom: 50px;
  opacity: 0;
  transition: 0.3s all ease-out;
  transform: scale(0.8);
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
}

a {
    text-decoration: none !important;
    @apply no-underline;
  }
  
  h1  {
    font-family: 'Noto', serif;
  }
  
  p {
    font-family: 'Noto', serif;
  }

  #category {
     font-family: Noto;
     font-weight: 500;
  }
  
  #title {
    letter-spacing: .4px;
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.13636;
  }
  
  #banner {
    margin: 20px;
    height: 800px;
  }
  
  #editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .uk-navbar-container {
    background: #fff !important;
    font-family: Staatliches;
  }
  
  img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }